* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}
.navigation {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  text-align: center;

  min-height: 6vh;

  font-family: "Varela Round", sans-serif;
}

.navigation_links ul {
  display: grid;
  grid-template-columns: repeat(4, 20%);
}

.navigation_links li {
  list-style: none;
}

.navigation_links a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}

.title {
  letter-spacing: 5px;
}

.abt_sign {
  font-size: 15px;
  padding-top: 250px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
}
.about1 {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  padding-top: 200px;
}
.about2 {
  text-align: justify;
  font-family: "Arapey", serif;
  font-size: 16px;
}
.white_space {
  padding-top: 10px;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
.white_space {
  padding-top: 200px;
}
.contact_us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #333;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: "Arapey", serif;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.back_to_top {
  background-color: #333;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  top: 1000px;
  right: 50px;
}
