* {
  margin: 0px;
  padding: 0px;
}

.navigation {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 6vh;

  font-family: "Varela Round", sans-serif;
}

.navigation_links ul {
  display: grid;
  grid-template-columns: repeat(4, 20%);
}

.navigation_links li {
  list-style: none;
}

.navigation_links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
}

.title {
  letter-spacing: 5px;
}

.abt_sign {
  font-size: 20px;
  padding-top: 50px;
  font-weight: 10;
  letter-spacing: 1px;
  text-align: center;
}
.abt1 {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  padding-top: 200px;
}
.abt2 {
  text-align: justify;
}
.white_space {
  padding-top: 10px;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
